
body{
  background-color:#0B192C;
   font-family: 'Trebuchet MS', sans-serif;
    color:#FFFFFF;
}

 .heading{
  background-color: #FF6500;
  text-align: center;
   width: 800px;
   overflow: hidden;
}




