
body{
  background-color:#131313;
   font-family: 'Trebuchet MS', sans-serif;
    color:#FFFFFF;
      font-weight:bold;
}

 .heading{
  background-color: #363636;
  text-align: center;
   width: 800px;
   overflow: hidden;
}




